= form_for @poll_question do |f|
  - if @poll_question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@poll_question.errors.count, "error")} prohibited this poll_question from being saved:"
      %ul
        - @poll_question.errors.full_messages.each do |msg|
          %li= msg

  .panel.panel--padding
    .field
      = f.label :text
      = f.text_field :text

    .field
      = f.label :description
      = f.text_field :description

    .actions
      = f.submit 'Save'
