.panel
  .user-card
    .user-card__body
      %p.user-card__title
        = @poll.title
      %p.user-card__position
        = @poll.description

%p
  %b Редактирование вопросов:
  = @poll_questions.count

= render "shared/questions/list"

= link_to 'New question', new_poll_question_path(@poll)
