%h1 Listing polls

%table
  %thead
    %tr
      %th Title
      %th Created by
      %th Published
      %th
      %th
      %th

  %tbody
    - @polls.each do |poll|
      %tr
        %td= poll.title
        %td= poll.created_by
        %td= poll.published
        %td= link_to 'Show', poll
        %td= link_to 'Edit', edit_poll_path(poll)
        %td= link_to 'Destroy', poll, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Poll', new_poll_path
