.panel
  .user-card
    .user-card__img
      = image_tag "user.png"
      %span.user-card__status
    .user-card__body
      %p.user-card__title
        = [current_employee.lastname, current_employee.firstname, current_employee.patronymic].join(' ')
      %p.user-card__position
        = current_employee.position
      %a.user-card__segment{:href => "#"}
        = current_employee.departament
    .user-card__about
      %p.user-card__phone
        = current_employee.phone
      %p.user-card__mail
        = current_employee.email
      %p.user-card__loccation
        = current_employee.location
  %ul.menu.menu--top
    %li.menu__item
      %a.menu__link.menu__link--active{href: "#"}
        Рабочий стол
    %li.menu__item
      %a.menu__link{href: "#"}
        Профиль
    %li.menu__item
      %a.menu__link{href: "#"}
        Адаптация
    %li.menu__item
      %a.menu__link{href: "#"}
        Проект
    %li.menu__item
      %a.menu__link{href: "#"}
        Задачи
    %li.menu__item
      %a.menu__link{href: "#"}
        Льготы
    %li.menu__item
      %a.menu__link{href: "#"}
        Полезные ссылки
    %li.menu__item
      = link_to "Выйти", session_path, method: :delete, class: "menu__link"
