%h1 Listing polls

%table
  %thead
    %tr
      %th Title
      %th 1
      %th 2
      %th 3
      %th 4
      %th 5

  %tbody
    - @polls.each do |poll|
      %tr
        %td= poll.title
        %td= poll.description
        %td= poll.poll_questions.count
        %td= link_to 'Show', poll
        %td= link_to 'Edit', edit_poll_path(poll)
        %td= link_to 'Destroy', poll, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Poll', new_poll_path
