%p#notice= notice

.panel
  .user-card
    .user-card__body
      %p.user-card__title
        = @poll.title
      %p.user-card__position
        = @poll.description

= render partial: "shared/questions/list", poll_questions: @poll.poll_questions

= link_to 'Edit', edit_poll_path(@poll)
\|
= link_to 'Back', polls_path
