%h1 Главная страница сотрудника
%h2= link_to 'Первый рабочий день', first_day_employee_onboarding_path
%h2= link_to 'Второй рабочий день', second_day_employee_onboarding_path
%h2= link_to 'Третий рабочий день', third_day_employee_onboarding_path
%h2= link_to 'Четвертый рабочий день', fourth_day_employee_onboarding_path
%h2= link_to 'Пятый рабочий день', fifth_day_employee_onboarding_path
%h2= link_to 'Еженедельно', weekly_employee_onboarding_path
%h2= link_to 'Еженедельно', weekly_employee_onboarding_path
%h2= link_to 'Третья рабочая', third_week_employee_onboarding_path
