!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %title ПСБ
  %body
    %div{style: "display: none;"}
      %symbol
        %svg#notify{height: "34", viewbox: "0 0 24 34", width: "24", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M24 25.4756H23.9991C23.9991 26.9224 22.9349 27.0175 21.6227 27.0175H2.37605C1.06327 27.0175 0 26.9222 0 25.4754L0 25.2262C0 24.1857 0.554581 23.2947 1.35139 22.8721L2.10577 15.6977C2.10577 10.4454 5.47697 6.06158 9.96498 5.02733V2.24206C9.96498 1.00394 10.8762 0 12.0005 0C13.1242 0 14.0354 1.00394 14.0354 2.24206V5.02754C18.5234 6.06158 21.8946 10.445 21.8946 15.6979L22.649 22.8733C23.4458 23.2966 24 24.1859 24 25.2264V25.4756Z"}
          %path{d: "M11.9995 33.3119C10.0387 33.3119 8.44822 31.5611 8.44822 29.3991H15.5503C15.5507 31.5611 13.9603 33.3119 11.9995 33.3119Z"}
        %svg#dialog{height: "30", viewbox: "0 0 31 30", width: "31", xmlns: "http://www.w3.org/2000/svg"}
          %path{"clip-rul": "evenodd", d: "M14.9926 0C19.0013 -6.60433e-06 22.7637 1.56024 25.6007 4.39533C28.4378 7.23042 30.0068 10.9915 30.0093 15C30.0117 19.0084 28.4537 22.7695 25.6201 25.6046C22.7294 28.4968 18.8865 30 15.0046 30C12.5879 30 10.1518 29.4165 7.92469 28.2178C5.92752 29.6575 3.97407 29.9683 2.64838 29.9683C2.15363 29.9683 1.74765 29.9239 1.46219 29.8795C0.853202 29.7844 0.383528 29.3087 0.288011 28.6998C0.192493 28.0909 0.50294 27.5011 1.05461 27.2283C2.20235 26.6639 2.97551 25.5349 3.45698 24.5645C-1.46246 18.647 -1.08725 9.87529 4.38975 4.39537C7.22334 1.56027 10.9838 6.60441e-06 14.9926 0ZM16.0503 15.0054C16.0507 15.5868 15.5795 16.0582 14.9979 16.0582C14.4162 16.0582 13.9445 15.5868 13.9441 15.0054C13.9437 14.4239 14.4149 13.9526 14.9966 13.9526C15.5782 13.9526 16.05 14.4239 16.0503 15.0054ZM20.4275 16.0565C21.0091 16.0565 21.4802 15.5851 21.4799 15.0037C21.4795 14.4222 21.0078 13.9508 20.4262 13.9508C19.8446 13.9508 19.3734 14.4222 19.3738 15.0037C19.3741 15.5851 19.8459 16.0565 20.4275 16.0565ZM10.6206 15.0071C10.621 15.5885 10.1498 16.0599 9.56816 16.0599C8.98655 16.0599 8.51477 15.5885 8.51441 15.0071C8.51406 14.4257 8.98526 13.9543 9.56688 13.9543C10.1485 13.9543 10.6203 14.4256 10.6206 15.0071Z", "fill-rul": "evenodd"}
    .overflow-container
      %main
        %header.header
          .header__inner
            %a.header__logo{href: employee_signed_in? ? dashboard_index_path : root_path}
              = image_tag("logo1.png")
            %nav.header__nav
              %ul.menu
                %li.menu__item
                  %a.menu__link{href: about_index_path, class: ('menu__link--active' if current_page?(about_index_path))}
                    О банке
                - if employee_signed_in?
                  %li.menu__item
                    %a.menu__link{href: employees_path, class: ('menu__link--active' if current_page?(employees_path))}
                      Коллеги
                %li.menu__item
                  %a.menu__link{href: knowledges_path, class: ('menu__link--active' if current_page?(knowledges_path))}
                    Базы знаний
                %li.menu__item
                  %a.menu__link{href: community_index_path, class: ('menu__link--active' if current_page?(community_index_path))}
                    Сообщества
            .header__settings
              %a.header__setting.header__user{href: "#"}
              %span.header__setting.header__notification
                %span
                  %svg{height: "34", viewbox: "0 0 24 34", width: "24", xmlns: "http://www.w3.org/2000/svg"}
                    %use{"xlink:hre": "#notify"}
              %span.header__setting.header__dialog
                %span
                  %svg{height: "30", viewbox: "0 0 31 30", width: "31", xmlns: "http://www.w3.org/2000/svg"}
                    %use{"xlink:hre": "#dialog"}
          %button.header__search
        .container
          = render 'breadcrumbs'

          = yield
